<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/Images/favicon.ico")" />
    <title>MLRemit ─ Password Reset</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        header {
            position: fixed;
            top: 0px;
            display: block;
            width: 100%;
            line-height: 50px;
            padding: 9px 0px;
            background-color: #f8f8f8;
        }
        header > div {
            max-width: 1015px;
            margin: auto;
        }
        .fpbdy {
            padding-top: 60px;
        }
        .bar {
            background-color: red;
            height: 24px;
            width: 100%;
        }
        .fp-container {
            background: white;
            margin: 90px auto;
            max-width: 600px;
            overflow: hidden;
            box-shadow: rgba(0,0,0,0.5) 0px 0px 20px 1px;
            border-radius: 10px;
            z-index: 3;
        }
        .fp-keyword {
            background-color: red;
            color: white;
            font-size: 16px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: 900;
        }
        .fp-msg {
            border: 1px solid darkgrey;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: justify;
        }
        .fp-msg, .fp-keyword {
            padding: 10px;
        }
        footer {
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 60px;
            background: rgba(255,0,10,0.9);
        }
        footer > div {
            color: white;
            text-align: center;
            line-height: 50px;
        }
    </style>
</head>
<body class="fpbdy">
    <header>
        <div>
            <img class="fpimg" src="../Images/mlhuillierbanner.jpg" height="70" />
        </div>
    </header>
    <hr />
    <div class="fp-container">
        <div class="fp-keyword">
            @ViewBag.Keyword
        </div>
        <div class="fp-msg">
            @ViewBag.message
        </div>
    </div>
    <footer>
        <div>
            <p>&copy; @DateTime.Now.Year ─ <b>M. Lhuillier</b> Financial Services Inc. All rights reserved</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>